*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:rgb(107, 107, 233);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    padding: 0;
    background-color: aliceblue;
    width: 80%;
    max-width: 818px;
    height: 80vh;
    overflow: hidden;
    cursor: grab;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.2);
}